name: Migration
on:
  push:
    branches:
      - master

jobs:
  build:
    name: "Migration"
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up the latest JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: gradle
      - name: Run production migration
        env:
          MONGO_HOST: ${{ secrets.MONGO_HOST }}
          MONGO_PORT: ${{ secrets.MONGO_PORT }}
          MONGO_DATABASE: ${{ secrets.MONGO_DATABASE }}
          MONGO_USER: ${{ secrets.MONGO_USER }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
        run: ./gradlew run
