name: Pull Requests
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:3.2
        ports:
          - 27017:27017
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up the latest JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: gradle
      - name: Run local migration
        run: ./gradlew run
      - uses: kentaro-m/auto-assign-action@v1.1.2
        with:
          configuration-path: ".github/auto_assign.yml"
